body {
  margin: 0;
  padding: 0;
  background: black;
  overflow: hidden;
  color: black;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  font-size: 2rem;
}

* {
  transition: font-size 1s ease-out;
}

a:link,
a:visited,
a:hover,
active {
  color: black;
}

.flex {
  display: flex;
}

video,
.center {
  margin: auto 0;
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 10;
}

.container {
  z-index: 50;
  width: 100%;
  height: auto;
}

.container_btns {
  margin: auto;
  justify-content: center;
  font-size: 10vh;
}

.container_btns i {
  padding-top: 5rem;
  margin: 0 20px;
  opacity: 0.5;
  cursor: pointer;
}

.container_btns i:hover {
  opacity: 1;
  font-size: 15vh;
}
